/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "october";
  src: url("../font/October\ Crow.woff2") format("woff2"), url("../font/October\ Crow.woff") format("woff");
}

/* ******************************** */

/* Colores */

:root {
  /* Mode 1 */
  /* colors */
  --halloween-amarillo: #ffe818;
  --halloween-negro: #000000;
}
/* ******************************** */
html{

font-family:"october",sans-serif;


}
/* Retina Display */
    /* Móvil */

   body{

/* Retina Display */
    /* Móvil */
    
    @media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
      @media (-webkit-min-device-pixel-ratio: 1){
          background-image: url(../img/smartphone/contador.webp);
      }

      @media (-webkit-min-device-pixel-ratio: 2) {
          background-image: url(../img/smartphone/contador@2x.webp);
      }

      @media (-webkit-min-device-pixel-ratio: 3) {
          background-image: url(../img/smartphone/contador@3x.webp);
      }
  }
  background-size: cover;

 
}
header{
width:390px;
height: 80px;
background-size: cover;

}
 body main{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.horario{
  font-size: 5.625rem;
  margin-top: .625rem;
  margin-left: .625rem;
  color: var(--halloween-amarillo);
  letter-spacing: .9375rem;
  

}
.horas{
  margin-top: 3.125rem;
  padding-right:20px;
font-size: 1.875rem;
color:var(--halloween-amarillo);

}
.minutos{
  margin-top: 3.125rem;
  padding-left:20px;
  font-size: 30px;
  color:var(--halloween-amarillo);
  
  
  }
  .segundos{
    margin-top: 50px;
padding-left:50px;
    font-size: 1.875rem;
    color:var(--halloween-amarillo);

  }
  .contador{
    
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 200px;
    height: 40px;
    color: var(--halloween-amarillo);
    font-size:30px;
    letter-spacing: 10px;
    text-decoration: none;
    transform: scaleY(2.5);

  }
  .letra_1{
    width:100px;
    
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 66px;
    width: 200px;
    height: 83px;
    color: var(--halloween-amarillo);
    font-size:30px;
    letter-spacing: 10px;
    text-decoration: none;
    transform: scaleY(2.5);

  }
footer{
display:flex;
flex-direction: row;
background-color: var(--halloween-amarillo);
width: 390px;
height: 80px;
position: absolute;
bottom: 0;

 }

.palabra_contacto{
margin-top: 20px;
margin-left:30px;
font-size: 30px;
text-decoration: none;
color: var(--halloween-negro);
}

 .rrss{
width:100%;

display: flex;
flex-direction: row;
align-items: end;
justify-content: end;
 }
.rrss a{
  width: 30px;
  height: 40px;
  margin-right:20px;

}
.rrss img{
width:20px;

}

