/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "october";
  src: url("../font/October\ Crow.woff2") format("woff2"), url("../font/October\ Crow.woff") format("woff");
}

/* ******************************** */

/* Colores */
/*****cambios*/
:root {
  /* Mode 1 */
  /* colors */
  --halloween-amarillo: #ffe818;
  --halloween-negro: #000000;
}
/* ******************************** */
html{

font-family:"october",sans-serif;


}
/* Retina Display */
    /* Móvil */

  .body{
    margin: 0;
    
    width:100%;
   display: flex;
   flex-direction: column;
   background-size: cover;
   background-repeat:no-repeat;
    

/* Retina Display */
    /* Móvil */
    
    @media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
      @media (-webkit-min-device-pixel-ratio: 1){
         background-image: url(../img/smartphone/contador.webp);
      }

      @media (-webkit-min-device-pixel-ratio: 2) {
          background-image: url(../img/smartphone/contador@2x.webp);
      }

      @media (-webkit-min-device-pixel-ratio: 3) {
          background-image: url(../img/smartphone/contador@3x.webp);
      }
  }
  


}
.header {
width:100%;
height:77px;
background-color: #000000;



}
nav{
  width: 100%;
  height: 120px;
background-size: cover;
background-image: url(../img/smartphone/PAYPAL.webp);
background-repeat: no-repeat;
background-size: contain;
}


.main{
width:100%;
height:100px;



 
}


.horario{
  width:100%;
  font-size: 90px;
 color: var(--halloween-amarillo);
  letter-spacing: .9375rem;
  margin-top:30px;
  
  

}

.horario2{
  width: 100%;
  height: 100px;
  margin-top: 30px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}

.horas{
 margin-left: 5px;
width: 80px;
color:var(--halloween-amarillo);
font-size: 30px;

}

.minutos{
  margin-top: -10px;
  height: 30px;
  font-size: 30px;
  color:var(--halloween-amarillo);
  }
  
  .segundos{
    margin-right: 5px;
    font-size: 30px;
    color:var(--halloween-amarillo);

  }
  
  .letra_atrevete {
    width: 100%;
    height: 100%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
   
    
    


  }
  
  .letra_atrevete p{
color: var(--halloween-amarillo);
font-size: 50px;
margin-top: 50px;
margin-bottom: 50px;
  }
  
 .letra_atrevete a{
text-decoration: none;

 }
  
.footer{
display:flex;
flex-direction: row;
width: 100%;
height: 80px;
bottom: 0;
background-color: chocolate;

}

.palabra_contacto{
margin-top: 10px;
margin-left:30px;
font-size: 30px;
text-decoration: none;
color: var(--halloween-negro);
}

.rrss{
width:100%;

display: flex;
flex-direction: row;
align-items: end;
justify-content: end;
 }
.rrss a{
  width: 30px;
  height: 40px;
  margin-right:20px;

}
.rrss img{
width:20px;

}

/******** PAGINA CONTADOR******/

.body_contador{
  width: 100%;
  height: 100vh;
  background-image: url(../img/smartphone/foto_susto\ 1.webp);
  background-size: cover;


  }

.header_contador {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: inherit;
background-size: cover;
  background-repeat: no-repeat;
}


.nav {
  width: 120px;
  height: 30px;
  border-radius: 25px;
  background-color: rgb(34, 31, 31);
  text-align: center;
 
  

}
a{
  text-decoration: none;
  font-size: 20px;
  color: var(--halloween-amarillo);
  
}

.main_contador {
  display: flex;
  justify-content: center;
  align-items: center; /* Cambiado de align-content a align-items */
  flex-direction: column; /* Cambiado de flex a flex-direction */
  width: 26.875rem;
  height:775px;
}

.letra_1_contador{
width:100px;
height: 50px;
font-size: 60px;
color: var(--halloween_amarillo, #FFE818);
margin-top: -80px;
margin-left:-190px;
}
.letra_2_contador{
  width:100px;
  height: 50px;
  font-size: 60px;
  color: var(--halloween_amarillo, #FFE818);
  margin-top: 150px;
  }
  .letra_3_contador{
    width:100px;
    height: 50px;
    margin-left: -150px;
    font-size: 60px;
    color: var(--halloween_amarillo, #FFE818);
    margin-top: 190px;
    }
    .letra_4_contador{
      width:100px;
      height: 50px;
      margin-left: -60px;
      font-size: 60px;
      color: var(--halloween_amarillo, #FFE818);
      margin-top: 140px;
      }


.footer_contador{
  width: 26.875rem;
  height: 80px;
  background-color: brown;
  background-image:url(../img/smartphone/PAYPAL.webp);
  background-size: contain;
}

/*********PAGINA SUSTO******/


#container{
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 52.75rem;
  background-image: url(../img/smartphone/dracula.webp);
  background-size:contain;
  background-repeat:no-repeat;
  

}
header nav{
background-size: contain;
background-image:url(../img/smartphone/PAYPAL.webp);
background-size: contain;

}
main{
width:430px;
height:100px;
display: flex;
justify-content: center;
align-items: center;

}
.siguiente_pagina{
text-decoration: none;
width: 100px;
height: 30px;
background-color: #FFE818;
border-radius: 25px;
text-align: center;
color: #000000;
}

/*********PAGINAS PRODUCTOS**********/


#contenedor_productos{
width: 26.875rem;
height:58.25rem;
background-image: url(../img/smartphone/calavera.webp);
display: flex;
flex-direction: column;

}
header{
width: 430px;
height: 80px;
background-color: var(--halloween-amarillo);

}